.header{
  display: flex;
  justify-content: center;
  background-color: brown;
  left:0;
  width: 100%;
  border-radius: 5px;
}
.rotate1{
  transform: rotate(20deg);
  color: blue;
}
.rotate2{
  transform: rotate(10deg);
  color: red;
}
.rotate3{
  transform: rotate(-15deg);
  color: limegreen;
}
.rotate4{
  transform: rotate(-25deg);
  color: yellow;
}
.input{
  display: flex;
  flex-wrap: wrap;
}
.postNote,.todolist{
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 50px;
  background-color: rgb(101, 201, 204);
}
.form{
  display: flex;
}
#posts {
  width: 600px;
  overflow-y:scroll;
  height:fit-content;
  max-height: 200px;
  display:block;
  font-size: 14px;
}
p{
  text-align: right;
  font-family: sans-serif;
}
i{
  cursor:pointer;
}  
#posts div {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(79, 2, 79);
  font-weight: 600;
  font-family:arial,Verdana,Tahoma, sans-serif;
}

input{
  border-radius: 5px;
  background-color: rgb(209, 206, 206);
  color: rgb(74, 73, 73);
}
.options {
  display: flex;
  align-items:center;
  justify-content: center;
  gap: 5px;
}

#msg {
  color: rgb(247, 244, 244);
  background-color: red;
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
}
#msg span{
  background-color: rgb(141, 30, 11);
}
.container{
  display: flex;
  letter-spacing: 10px;
  font-size: 60px;
}
h1{
  font-weight: bold;
  color: white;
  /* text shadow effect*/
  text-shadow:2px 2px 5px rgb(96, 96, 96);  
}
table {
  font-family: arial, verdana,tahoma;  
  width: 100%; 
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  border-radius: 5px;
}
th{
  background-color: brown;
  color: white;
  position: sticky;
  top:0;
}
td{
  background-color:white ;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
/* styling button */
.button {
  display: inline-block;
  padding: 8px 10px;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #212524;
  border: none;
  border-radius: 8px;
  box-shadow: 0 6px #999;
}

.button:hover {background-color: #424542}

.button:active {
  background-color: #c6cdc6;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

textarea {
  background-color: white;
 /* background-image: url('./public/writing-icon-17094.png');*/
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: 10px 20px;
  opacity: 0.7;
  padding-left: 40px;
  border-radius: 10px;
  border: 2px solid #656564;
  padding: 20px; 
  width: 20vw;
  height: 15px;  
  }
caption{
  text-decoration: underline;
}

footer {
  display:flex;
  font-family: Arial, Helvetica, sans-serif;
  background-color: brown;
  color: white;
  border-radius: 5px;
  position:fixed;
  left:0;
  bottom:0;
  width: 100%;
  text-align: center;
  justify-content: center;
}