body {
    font-family: sans-serif;
    margin: 0 50px;
  }
  
  .container {
    display: flex;
    gap: 50px;
  }
  .inner{
    max-height: 400px;
    overflow-y: scroll;
    border: 2px solid #f8f5f8;
    padding: 10px;
  }
  
  #posts {
    width: 400px;
  }
 
  i{
    cursor:pointer;
  }
  
  #posts div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(79, 2, 79);
    font-weight: 600;
    font-family:serif}
  
  .options {
    display: flex;
    gap: 25px;
  }
  
  #msg {
    color: red;
  }
  h1 {
    color:darkmagenta; font-weight: 600;

  }